<mat-toolbar class = "docHeader">
  <button mat-button (click)="sidenav.toggle()" title="Show/Hide Menu">
    <mat-icon class="white-icon">menu</mat-icon>
  </button>
  <h2 class="mat-title">{{title}}</h2>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="signOut()" title="Sign out" *ngIf="isSignin">
    <mat-icon class="white-icon">exit_to_app</mat-icon>
  </button>
  <button mat-button (click)="openHelp()" title="Display help">
      <mat-icon class="white-icon">help_outline</mat-icon>
    </button>  
  <img src="./assets/images/docLogo.png" alt="logo" style="padding-top:3px; padding-left:20px">
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="mode">
    <!-- <button mat-button (click)="sidenav.toggle()" style="width: 100%" title="Hide menu items">
      <mat-icon>menu</mat-icon>
    </button>
    <hr /> -->
    <mat-list-item *ngFor="let route of baseNav">
      <a mat-button routerLink="{{route.path}}" routerLinkActive="active" (click)="sidenav.toggle()"> -
        {{route.title}}</a>
    </mat-list-item>
    <mat-list-item *ngIf="!isSignin">
        <a mat-button routerLink="/auth/signin" routerLinkActive="active" (click)="sidenav.toggle()"> -
          Sign In</a>
    </mat-list-item>   
    <mat-list-item *ngIf="isSignin">
        <a mat-button (click)="signOut(); sidenav.toggle()"> -
          Sign Out</a>
    </mat-list-item>      
    <mat-list-item *ngIf="isSignin">
      <a mat-button routerLink="/auth/profile" routerLinkActive="active" (click)="sidenav.toggle()"> -
        Edit Account</a>
  </mat-list-item>         
    <div *ngIf="isAdmin">
      <hr />
      <span class="sidenav-header">System Administration</span>
      <hr />
      <mat-list-item *ngFor="let route of adminNav">
        <a mat-button routerLink="{{route.path}}" routerLinkActive="active" (click)="sidenav.toggle()"> -
          {{route.title}}</a>
      </mat-list-item>
    </div>
    <div *ngIf="doGis">
      <hr />
      <span class="sidenav-header">GIS Sync</span>
      <hr />
      <mat-list-item *ngFor="let route of gisNav">
        <a mat-button routerLink="{{route.path}}" routerLinkActive="active" (click)="sidenav.toggle()"> -
          {{route.title}}</a>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>